# Arithmetic Operators

In [1]:
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)
print("Exponent:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponent: 1000

In [5]:
x = 20
y = 5
print("Addition", a + b)
print("Substraction", a - b)
print("multiplication", a * b)
print("Division", a / b)
print("floor division", a // b)
print("modulus", a % b)
print("Exponent", a**b)

Addition 13
Substraction 7
multiplication 30
Division 3.3333333333333335
floor division 3
modulus 1
Exponent 1000

#  Comparison Operators

In [6]:
x = 5
y = 10
print(x == y)  # False
print(x != y)  # True
print(x < y)   # True
print(x >= y)  # False

False
True
True
False

# Assignment Operators

In [7]:
a = 5
a += 3  # same as a = a + 3
print(a)  # Output: 8

8

In [15]:
b = 5
# b += 10
# b -= 10
# b *= 10
# b %= 10
# b /= 10
# b //= 10
b **= 10
print(b)

9765625

# Logical Operators:
## - AND (Logical AND)

In [22]:
a = 10
b = 5
if a > 3 and b < 10:
    print("Both conditions are True")
else:
    print("At least one condition is False")

Both conditions are True

In [23]:
# MY WORK

a = 20
b = 25
if a > 15 and b > 20:
    print("Both conditions are true")
else:
    print("at least and condition is false")

Both conditions are true

 ## - or (Logical OR)

In [24]:
a = 10
b = 15
if a > 3 or b > 20:
    print("At least one condition is True")
else:
    print("Both conditions are False")

At least one condition is True

In [26]:
# MY WORK

a = 5
b = 10
if a < 10 or b > 15:
    print("At least  one condition is ture")

else:
    print("Both conditions are false")

At least  one condition is ture

## -not (Logical NOT)

In [27]:
a = 10
if not a < 5:
    print("Condition is False (because a is not less than 5)")

Condition is False (because a is not less than 5)

In [32]:
a = 20
if not a < 25:
    print("condition is true")

else:
    print("condition is false")

condition is false

# Membership Operators
## - in

In [33]:
list = [1, 2, 3, 4, 5]
if 3 in list:
    print("3 is in the list")
else:
    print("3 is not in the list")

3 is in the list

In [44]:
x = 10
y = 15
z = 20

my_list = [x,  y,  z,]
if y in my_list:
    print("Yes! y is in the list")

else:
    print("y not in the list")

Yes! y is in the list

## - not in (Negative Membership Operator)

In [48]:
list = [1, 2, 3, 4, 5]
if 10 not in list:
    print("10 is not in the list")

else:
    print("10 is in the list")

10 is not in the list

In [53]:
a = 5
b = 10
c = 15
d = 20

my_list = [a, b, c,]
if d not in my_list:
    print("D is not in the list")

else:
    print("D in the list")

D is not in the list

In [54]:
a =5 
b = 2
print(a ** b)

25

In [56]:
a = "5"
b = 3
print(a * b)

555