#  For Loop 
  - for loop ka use sequence (list, string, tuple, etc.) ko iterate karne ke liye hota hai.
  - Jab tumhe pata ho kitni dafa loop chalana hai, for best hota hai.

In [1]:
fruits = ["apply", "mango", "banana"]
for fruit in fruits:
    print(fruit)

apply
mango
banana

In [9]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [12]:
name = "hamza"
for character in name:
    print(character)

h
a
m
z
a

# While Loop
 - Keywords: while, break, continue
 - while = start loop
 - break = loop ko beech me roko
 - continue = current iteration skip kar ke agli par chalo

In [19]:
i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [8]:
a = 0
while a <= 10:
    print(a)
    if a ==  5:
        break
    a += 1

0
1
2
3
4
5

In [2]:
b = 0
while b < 6:
    b += 1
    if b == 3:
        continue
    print(b)

1
2
4
5
6

In [12]:
c = 1
while c < 6:
    i += 1
    if i == 3:
        continue  # 3 print nahi hoga
    print(i)

2
4
5
6

In [2]:
d = 0
while d < 6:
    if d == 3:
        d += 1
        continue
    print(d)
    d += 1

0
1
2
4
5

In [3]:
for i in range(1,11):
    table = 2*i
    print(f"2 x {i} = {table}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [1]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [9]:
for i in range(1,11):
    if i % 2 ==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

# Combined Revision Task (Day 1â€“5):
ðŸ”¹ Task: Even Multiples Table (1 to 5)
Print karo numbers 1 se 5 tak ke multiples (1 to 10) lekin sirf even results ko print karo.
ðŸ‘‰ Use nested loop (jo aap next sikhenge) ki jagah abhi ke liye simple loops ka use karo.

In [10]:
for a in range(1,6):
    for b in range(1,11):
        result = a * b
        if result % 2 ==0:
            print(f"{a} x {b} = {result}")

1 x 2 = 2
1 x 4 = 4
1 x 6 = 6
1 x 8 = 8
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 2 = 10
5 x 4 = 20
5 x 6 = 30
5 x 8 = 40
5 x 10 = 50

In [11]:
# Start table number from 1
table_number = 1
multiplier = 1

while table_number <= 5:
    result = table_number * multiplier
    
    if result % 2 == 0:
        print(f"{table_number} x {multiplier} = {result}")

    multiplier += 1  # multiplier ko agay barhao

    # Jab 10 tak ho jaye to table number badlo aur multiplier reset karo
    if multiplier > 10:
        table_number += 1
        multiplier = 1

1 x 2 = 2
1 x 4 = 4
1 x 6 = 6
1 x 8 = 8
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 2 = 10
5 x 4 = 20
5 x 6 = 30
5 x 8 = 40
5 x 10 = 50