# range

# Task 1:
Print all even numbers from 2 to 20 using range() and a for loop.
 Hint: Even numbers ka step pattern hota hai 2.
 Expected output:
2, 4, 6, 8, 10, 12, 14, 16, 18, 20

In [15]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

# Task 2:
Print numbers from 10 to 1 in reverse using range().

 Hint: Reverse ke liye step negative hoga.

 Expected output:
10, 9, 8, 7, 6, 5, 4, 3, 2, 1

In [16]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# Break

In [23]:
for a in range(1,11):
    if a == 5:
        break
    print(a)

1
2
3
4

In [30]:
x = 1
while x < 5:
    if x == 3:
        break
    print(x)
    x += 1

1
2

In [33]:
for b in range(1,11):
    if b % 6 == 0:
        break
    print(b)

1
2
3
4
5

In [2]:
for c in range(1,11):
    if  c == 7:
        break
    print(c)

1
2
3
4
5
6

In [8]:
for n in range(1,21):
    if n % 2 == 0:
        break
    print(n)

1

In [10]:
for n in range(1, 21):
    if n % 2 == 0:         # Jaise hi even mile
        print(n)           # Usko print karo
        break              # Phir loop ko tod do

2

In [5]:
x = 1
while x < 20:
    if x % 2 == 0:
        break
    print(x)
    x += 1

1

In [13]:
x = 1
while x < 20:
    if x % 2 == 0:
        print(x)       # Even number milte hi print karo
        break          # Aur loop se bahar aa jao
    x += 1

2

In [9]:
x = 1
while x < 20:
    if x == 13:
        break
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10
11
12

# continue

In [15]:
for x in range(1,10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [17]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5

# Task 1: Skip Multiples of 3 (1 to 20)
ðŸ”¹ Question:
Ek for loop banao jo 1 se 20 tak numbers print kare â€” lekin agar koi number 3 ka multiple ho (jaise 3, 6, 9...), to usay skip karo using continue.

In [22]:
for x in range(1,20):
    if x % 2 ==0:
        continue
    print(x)

1
3
5
7
9
11
13
15
17
19

#  Task 2: Skip Number 7 and 15 in While Loop
ðŸ”¹ Question:
Ek while loop banao jo 1 se 20 tak numbers print kare â€” lekin agar number 7 ya 15 ho, to usay print na karo (skip karo) using continue.

In [1]:
x = 0
while x < 20:
    x += 1
    if x == 7 or x == 15:
        continue
    print(x)

1
2
3
4
5
6
8
9
10
11
12
13
14
16
17
18
19
20

# Nested loop

In [1]:
# Outer loop (runs 3 times)
for i in range(1, 3):
    # Inner loop (runs 2 times)
    for j in range(1, 3):
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 2, j = 1
i = 2, j = 2

# Task 1: Multiplication Table Grid (Nested For Loops)
ðŸ”¸ Objective: Print multiplication tables from 2 to 4.
ðŸ”¸ Use: for loop + nested for loop

In [2]:
for i in range(2,5):
    for j in range(1,11):
        table = i*j
        print(f"{i} x {j} = {table}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# Task 2: Skip Multiples of 3 and Stop at 15 (While + Continue + Break)
ðŸ”¸ Objective: 1 se 20 tak numbers print karo
ðŸ”¸ Lekin:

continue use karo to skip karo multiples of 3

break use karo jab number 15 par pohch jaye

In [14]:
x = 0
while x <= 20:
    x += 1
    if x == 15:
        break
    if x % 3 == 0:
        continue
    print(x)

1
2
4
5
7
8
10
11
13
14

# Task 3: Nested Loops â€” Odd Numbers Grid (For + If + Continue)
ðŸ”¸ Objective: 1 se 3 tak rows print karo
ðŸ”¸ Har row me 1 se 5 tak numbers print karo
ðŸ”¸ Skip karo even numbers using continue

In [15]:
for i in range(1,4):
    for j in range(1,6):
        if j % 2 == 0:
            continue
        print(j, end=" ")
    print()

1 3 5
1 3 5
1 3 5

In [16]:
x = "Python"
y = x[2:5]
print(y)

tho